body{
  background-color: rgb(217, 215, 215);
}

a{
  color: rgb(33, 97, 140);
  text-decoration: none;
}

a:visited{
  color: rgb(33, 97, 140);
}
a:hover{
  color: rgb(231, 76, 60);
}
th{
  color: rgb(125, 60, 152)  ;
  display: inline-block;
  padding-bottom: 4px;

}

td{
  color:red;
  box-sizing: border-box ;
  display: grid;
  padding: 8px;
  border: 1px solid rgb(137, 137, 137);
  border-collapse: collapse;
  margin: 1px;
  
}

table{
  margin: 0 auto;
}

