
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Server</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <table>
    <tr>
      <th>Songs</th>
    </tr>
    <tr id="files">
      <td><a href="Akheh Deleh Man  Mohsen Yeganeh.mp3"> Akheh Deleh Man  Mohsen Yeganeh.mp3</a></td> 
<td><a href="Ali Bi Gham  Amir Chaharom.mp3"> Ali Bi Gham  Amir Chaharom.mp3</a></td> 
<td><a href="Aroose Man (Feat Dj Abed)  Mohsen Chavoshi.mp3"> Aroose Man (Feat Dj Abed)  Mohsen Chavoshi.mp3</a></td> 
<td><a href="Ashegh Shodam  Benyamin Bahadori.mp3"> Ashegh Shodam  Benyamin Bahadori.mp3</a></td> 
<td><a href="Atre Talkh  Arvin Samimi.mp3"> Atre Talkh  Arvin Samimi.mp3</a></td> 
<td><a href="Azab  Mohsen Yeganeh.mp3"> Azab  Mohsen Yeganeh.mp3</a></td> 
<td><a href="Baroon Mibare  Arshiyas.mp3"> Baroon Mibare  Arshiyas.mp3</a></td> 
<td><a href="Behem Zang Bezan  Nivad.mp3"> Behem Zang Bezan  Nivad.mp3</a></td> 
<td><a href="Bi Gharar  Amin Habibi.mp3"> Bi Gharar  Amin Habibi.mp3</a></td> 
<td><a href="Cheshmat  Mehrnoosh.mp3"> Cheshmat  Mehrnoosh.mp3</a></td> 
<td><a href="Darde Shirin  Reza Malekzadeh.mp3"> Darde Shirin  Reza Malekzadeh.mp3</a></td> 
<td><a href="Dastan  Asef Aria.mp3"> Dastan  Asef Aria.mp3</a></td> 
<td><a href="Delakam  Ali Abdolmaleki.mp3"> Delakam  Ali Abdolmaleki.mp3</a></td> 
<td><a href="delam gerefteh  Amin Rostami.mp3"> delam gerefteh  Amin Rostami.mp3</a></td> 
<td><a href="Delnavazan  Ali Lohrasbi.mp3"> Delnavazan  Ali Lohrasbi.mp3</a></td> 
<td><a href="Deltang  Morteza Ashrafi.mp3"> Deltang  Morteza Ashrafi.mp3</a></td> 
<td><a href="dobareh  arash delfan.mp3"> dobareh  arash delfan.mp3</a></td> 
<td><a href="Docharetam  Novan.mp3"> Docharetam  Novan.mp3</a></td> 
<td><a href="Dooset Daram  7 Band.mp3"> Dooset Daram  7 Band.mp3</a></td> 
<td><a href="Dorit  Farzad Farzin.mp3"> Dorit  Farzad Farzin.mp3</a></td> 
<td><a href="Eshghe Ghadimi  Haamim.mp3"> Eshghe Ghadimi  Haamim.mp3</a></td> 
<td><a href="Eshghe Man Bash  Behnam Safavi.mp3"> Eshghe Man Bash  Behnam Safavi.mp3</a></td> 
<td><a href="Eshghe To Basse Mane  Asef Aria.mp3"> Eshghe To Basse Mane  Asef Aria.mp3</a></td> 
<td><a href="Fereshteh  Majid Razavi.mp3"> Fereshteh  Majid Razavi.mp3</a></td> 
<td><a href="Ghalbami Pas  Majid Razavi.mp3"> Ghalbami Pas  Majid Razavi.mp3</a></td> 
<td><a href="Ghasam  Hamid Askari.mp3"> Ghasam  Hamid Askari.mp3</a></td> 
<td><a href="Gol E Aftabgardoun  Arian Band.mp3"> Gol E Aftabgardoun  Arian Band.mp3</a></td> 
<td><a href="Goli  Soheil Mehrzadegan.mp3"> Goli  Soheil Mehrzadegan.mp3</a></td> 
<td><a href="Havato Daram  Arvin Samimi.mp3"> Havato Daram  Arvin Samimi.mp3</a></td> 
<td><a href="Khodahafez  Erfan Tahmasbi.mp3"> Khodahafez  Erfan Tahmasbi.mp3</a></td> 
<td><a href="Lahzeh  Mohsen Yahaghi.mp3"> Lahzeh  Mohsen Yahaghi.mp3</a></td> 
<td><a href="Lazemami  Novan.mp3"> Lazemami  Novan.mp3</a></td> 
<td><a href="Loknat  Benyamin Bahadori.mp3"> Loknat  Benyamin Bahadori.mp3</a></td> 
<td><a href="Man Zooram Nemirese  Reza Malekzadeh.mp3"> Man Zooram Nemirese  Reza Malekzadeh.mp3</a></td> 
<td><a href="Mano To  Majid Yalan.mp3"> Mano To  Majid Yalan.mp3</a></td> 
<td><a href="maryam  artin shahvaran.mp3"> maryam  artin shahvaran.mp3</a></td> 
<td><a href="Naz  Mohsen Chavoshi.mp3"> Naz  Mohsen Chavoshi.mp3</a></td> 
<td><a href="Negahe Khas  Alireza Pouya.mp3"> Negahe Khas  Alireza Pouya.mp3</a></td> 
<td><a href="Negarane Mani  Morteza Pashaei.mp3"> Negarane Mani  Morteza Pashaei.mp3</a></td> 
<td><a href="Nimeh gomshodami  Nivad.mp3"> Nimeh gomshodami  Nivad.mp3</a></td> 
<td><a href="nisti to  Behnam Alamshahi.mp3"> nisti to  Behnam Alamshahi.mp3</a></td> 
<td><a href="Par E Parvaz  Shadmehr Aghili.mp3"> Par E Parvaz  Shadmehr Aghili.mp3</a></td> 
<td><a href="Parizad 2  Yousef Zamani.mp3"> Parizad 2  Yousef Zamani.mp3</a></td> 
<td><a href="Pas Man Chi  Hamed Miran.mp3"> Pas Man Chi  Hamed Miran.mp3</a></td> 
<td><a href="Ragekhab  Mohsen Yeganeh.mp3"> Ragekhab  Mohsen Yeganeh.mp3</a></td> 
<td><a href="Raze Shab  Haamim.mp3"> Raze Shab  Haamim.mp3</a></td> 
<td><a href="Ro Dar O Divare In Shahr  Mohammad Zare.mp3"> Ro Dar O Divare In Shahr  Mohammad Zare.mp3</a></td> 
<td><a href="Setareh  Arian Band.mp3"> Setareh  Arian Band.mp3</a></td> 
<td><a href="Setareh  Shadmehr Aghili.mp3"> Setareh  Shadmehr Aghili.mp3</a></td> 
<td><a href="Shabe To  Ali Abbasi.mp3"> Shabe To  Ali Abbasi.mp3</a></td> 
<td><a href="Shinaria  Amin Habibi.mp3"> Shinaria  Amin Habibi.mp3</a></td> 
<td><a href="Shoghe Nafas  Soroush.mp3"> Shoghe Nafas  Soroush.mp3</a></td> 
<td><a href="Shoone  Amir Rashvand.mp3"> Shoone  Amir Rashvand.mp3</a></td> 
<td><a href="Tang Mishe Del  Majid Razavi.mp3"> Tang Mishe Del  Majid Razavi.mp3</a></td> 
<td><a href="Tike Tike  Ali Ashabi.mp3"> Tike Tike  Ali Ashabi.mp3</a></td> 
<td><a href="To  Erfan Tahmasbi.mp3"> To  Erfan Tahmasbi.mp3</a></td> 
<td><a href="Yavash Yavash  Pedram Paliz.mp3"> Yavash Yavash  Pedram Paliz.mp3</a></td> 
<td><a href="Yeki Hast  Morteza Pashaei.mp3"> Yeki Hast  Morteza Pashaei.mp3</a></td> 
<td><a href="Yeki Miyad  Kasra Zahedi.mp3"> Yeki Miyad  Kasra Zahedi.mp3</a></td> 
<td><a href="Zabanam Ra Nemidani  Saeid Poursaeid.mp3"> Zabanam Ra Nemidani  Saeid Poursaeid.mp3</a></td> 
<td><a href="zaraban  Shahab Tiam.mp3"> zaraban  Shahab Tiam.mp3</a></td> 
<td><a href="Ziba  Majid Razavi.mp3"> Ziba  Majid Razavi.mp3</a></td> 

    </tr>

  </table>

</body>
</html>

